* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    background-image: url('3334896.jpg'); 
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    }
    
  
  .container {
    margin-top: 100px;
    padding: 30px 40px;
    border-radius: 10px;
    width: 100%;
    max-width: 500px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  }
  
  h1 {
    text-align: center;
    margin-bottom: 70px;
    color: rgb(133, 128, 128);
   
  }
  
  .input-section {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }
  .input-section ::placeholder{
    font-weight: bolder;
    font-size: 15px;
  }

  #errorMessage{
    color: rgb(226, 65, 65);
    font-size: 0.9rem;
    padding-bottom: 50px;
    
  }
  #task-input {
    flex: 1;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  #add-task {
    padding: 10px 10px;
    border: none;
    width: 70px;
    color: rgb(99, 99, 99);
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bolder;
  }
  
  #add-task:hover {
    background-color: #8196c488;
  }
  
  #task-list li {
    padding: 6px;
    border-bottom: 1px dashed #eee;
    display: flex;
    justify-content: space-between;
    animation: slideIn 0.6s ease-out;
  }
  
  #task-list li.completed {
    text-decoration: line-through;
    color: gray;
  }

  #task-list button{
    background-color: #ce60605b;
    border: none;
    font-size: 0.9rem;
    padding: 7px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
 

  @keyframes slideIn {
    from {
      transform: translateY(50px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes slideOut {
    from {
      transform: translateY(0);
      opacity: 1;
    }
    to {
      transform: translateY(50px);
      opacity: 0;
    }
  }
  